@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mc;
  src: url("../mc-reg.otf") format("opentype");
}
@font-face {
  font-family: mc-bold;
  src: url("../Minecrafter.Reg.ttf") format("truetype");
}
body{
  font-family: mc;
}
.heading{
  font-family: mc-bold;
 

}
